@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{


@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
selector{ zoom: 75%; }
}
    /* Chrome version 29 and above */
    
    display: grid;
    flex-direction:column; 
    grid-template-areas: "header header header"
                            "nav nav nav"
                            "main main main"
                            "footer footer footer";

    grid-template-rows: 10% 10% auto 10%;
    grid-template-columns: auto;
    background-color: white;
    font-family: 'Space Mono', monospace;
    animation: fadeIn 6s; 
}
/* base website content */
#homepage{
   text-decoration: underline;

}
#aboutpage{
    text-decoration: underline;
 
 }
#projectpage{
    text-decoration: underline;
 
}
#aboutpage{
    text-decoration: underline;
 
}
#experiencepage{
    text-decoration: underline;
 
 }
header{
    grid-area: header;
    width: 100vw;
    color: navy;
    min-height: 15vh;
}
.name{
    position: relative;
    left: 5px;
}
nav{
    grid-area: nav;
    width: 100vw;
    height: max-content;
    font-size: 1.5rem;
    color: navy;


}

.navList{
    position: relative;
    bottom: 15vh;

}
.navList ul {
    position: relative;
    display: inline-flex;
    float: right;
}
.navList a:any-link{
    text-decoration: none;

    list-style-type: none;
    padding-left: 50px;
    
  
}
.navList a:visited{
    color: navy;
}
main {
    grid-area: main;
    padding: auto;
}


footer{
    grid-area: footer;
    font-size: 2rem;
    width: 100vw;
    height: fit-content;
    text-align: center;
    padding-top: 125px;
    
    
}
.social{
    position: relative;
    display: block;
    text-align: center;
}
.social a:any-link {
    margin: 0 auto;
    justify-content: center;
    display: inline-flex;
    padding-left: 50px;
    text-decoration: none;
    list-style-type: none;
    color: navy;
}
.social a:visited{
    color: navy;
}
.social a:hover{
    color: grey;
    text-decoration: underline;
    animation: fadeIn 4s; 
}


/* Index page */
.welcomeMessage{
    display: flexbox;
    position: relative;
    margin: 0 auto;
    text-align: left;
    left: 20vw;
    top: 15vh;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 300px;
}

span{
    color: navy;
}

#evangelos{
    max-width: 300px;
    max-height: 300px;
    position: relative;
    float: right;
    right: 35vw;
    bottom: 100px;
}

#btn{
    color: navy;
    background-color: white;
    border-radius: 25px;
}
#btn:hover{
    color: white;
    background-color: navy;
    border-radius: 25px;
}

/* Projects Page*/
.container {
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  left: 20vw;
}

.card{
    width: 325px;
    height: 325px;
}
.container ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}
.container a:any-link {
    color: navy;
    text-decoration: none;
}
.container a:visited {
    color: navy;
    text-decoration: none;
}
#marley{
height: 100px;
border-radius: 5px;

}
#marleyWebsite{
    border: 2px solid navy;
    border-radius: 5px;
    text-align: center;
}
#emmanuel{
    height: 100px;
    border-radius: 5px;
}
#EmmanuelWebsite{
    border: 2px solid navy;
    border-radius: 5px;
    text-align: center;
}

#weatherapp{
height: 100px;
border-radius: 5px;
}
#weatherAPI{
    border: 2px solid navy;
    border-radius: 5px;
    text-align: center;
}

#quizapp{
    height: 100px;
    border-radius: 5px;
    }
    #quizAPI{
        border: 2px solid navy;
        border-radius: 5px;
        text-align: center;
    }

#spaceinvaderAPP{
        height: 100px;
        border-radius: 5px;
}
#spaceinvader{
    border: 2px solid navy;
    border-radius: 5px;
    text-align: center;
}

.card a:hover{
   color: grey;
    
}
    
/* About page */
.aboutMe{
    width: 70vw;
    text-align: center;
    margin: 0 auto;
}
.checked {
    color: orange;
  }
.skills{
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: 25px;
    border: 5px solid black;
    width: fit-content;
    border-radius: 50px;
}
.aboutMe h1{
    position: relative;
    text-align: center;
    margin: 0 auto;
    left: 200px;
}

/* University page */

.experience{
    width: 80vw;
    margin: 0 auto;
}
.experience h2{
    text-align: center;
    font-weight: 700;
}
.experience p {
    padding-top: 25px;
}

.experience span{
    font-weight: 700;
    font-style: italic;
}

.experience h2{
    position: relative;
    text-align: center;
    margin: 0 auto;
    left: 200px;
}


/* animations */
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }